.btn,
noir {
    background-color: black;
    color: white;
}

#save,
#gomme,
#effacer {
    background-color: gray;
    color: white;
}

.top1 {
    display: inline-flex;
    margin: 10px 5px 10px 5px;
}

.fa-circle {
    border: 1px solid black;
}

.top2 {
    margin: 10px 5px 10px 5px;
    display: inline-flex;
}

.top3 {
    display: inline-flex;
    margin: 10px 5px 10px 5px;
}

#myCanvas {
    border: 5px solid grey;
    box-shadow: 5px 5px 30px black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.les3 {
    background: #4f92ff;
    width: 500px;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}