.btn,
noir {
    background-color: black;
    color: white;
}

#one {
    background-color: gray;
    color: white;
}

#gomme,
#effacer {
    background-color: gray;
    color: white;
}

.top1 {
    display: inline-flex;
}

.fa-circle {
    border: 1px solid black;
}